{{ $script := resources.Get "app.js" | resources.Minify | resources.Fingerprint }}

<!doctype html>
<html dir="ltr" lang="it">
   <head>
      {{- partial "head-tags.html" . -}}
   </head>
   <body class="light absolute inset-0">
      {{- partial "sidebar-button.html" . -}}
      <aside
         id="sidebar"
         class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 border-r-2 border-gray-100"
         aria-label="Sidebar"
      >
         {{- partial "sidebar.html" . -}}
      </aside>
      <main class="sm:ml-64">{{- partial "content.html" . -}}</main>

      <script src="{{ $script.RelPermalink }}"></script>
   </body>
</html>
