<div>
   <!-- hero -->
   <div class="sm:hidden flex flex-col items-center mt-10">{{- partial "hero.html" . -}}</div>

   <div id="home" class="mb-96">a</div>

   <div class="mb-96">a</div>
   <div class="mb-96">a</div>
   <div class="mb-96">a</div>
   <div class="mb-96">a</div>
   <div class="mb-96">a</div>

   <div class="bg-"></div>

   <div id="osteopatia">
      {{- partial "osteopatia.html" . -}}
   </div>

   <div id="visita-e-trattamento">
      
   </div>

   <div id="sede-e-contatti">
      
   </div>
</div>
