<div>

   <div id="home" class="pb-8" x-intersect="mouseClick(0)">
      {{- partial "home.html" . -}}
   </div>

   <div class="sm:hidden flex flex-col items-center mt-10">{{- partial "hero.html" . -}}</div>

   <div id="osteopatia" class="p-2 py-8" x-intersect="mouseClick(1)">{{- partial "osteopatia.html" . -}}</div>

   <div id="visita-e-trattamento" class="p-2 py-8" x-intersect="mouseClick(2)">
      {{- partial "visita.html" . -}}
   </div>

   <div id="sede-e-contatti" class="p-2 py-8" x-intersect="mouseClick(3)">
      {{- partial "sede.html" . -}}
      <div class="py-8"></div>
      {{- partial "contatti.html" . -}}
   </div>
</div>
