<div class="p-4">
   <!-- hero -->
   <div class="sm:hidden flex flex-col items-center mt-10">
      <img
         class="rounded-full border-solid border-2 border-gray-200 w-28"
         src="images/mco_propic.jpg"
         alt="Marco Certisi"
      />
      <span class="text-gray-900 font-medium text-2xl">Marco Certisi</span>
      <span class="text-gray-900 font-medium text-lg py-5">OSTEOPATA</span>
      <span class="text-gray-900 italic text-md text-center"
         >Terapia manuale olistica per ritrovare e mantenere il tuo stato di salute e benessere</span
      >
   </div>

   <div id="home">home</div>

   <div id="osteopatia">osteopatia</div>

   <div id="visita-e-trattamento">visita e trattamento</div>

   <div id="sede-e-contatti">sede e contatti</div>
</div>
