{{ $style := resources.Get "app.css" | resources.Minify | resources.Fingerprint }} {{ $script := resources.Get "app.js"
| resources.Minify | resources.Fingerprint }}

<head>
   <title>Marco Certisi | Osteopata</title>
   <meta charset="UTF-8" />
   <meta name="author" content="Marco Certisi" />
   <meta
      name="description"
      content="Osteopata Biella - Terapia manuale olistica per ritrovare e mantenere il tuo stato di salute e benessere"
   />
   <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />

   <link rel="shortcut icon" href="favicons/favicon.ico" type="image/x-icon" />
   <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png" />
   <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png" />
   <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png" />
   <link rel="canonical" href="https://marcocertisiosteopata.it/" />

   <script defer src="https://unpkg.com/htmx.org@1.9.5"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
   <script defer src="{{ $script.RelPermalink }}"></script>

   <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
   <link href="{{ $style.RelPermalink }}" rel="stylesheet" />
</head>
