<div class="w-full relative max-h-screen flex flex-col">
   <img src="/images/vector-bg.svg" alt="background" class="w-full object-cover object-bottom min-h-0" />
   <div class="flex flex-row absolute items-center top-0">
      <img src="/images/colonna.jpg" alt="background" class="w-4/12" />
      <div class="sm:text-4xl text-lg font-serif font-medium text-white max-w-2xl">
         <div>
            Un osteopata è solo un ingegnere umano, che dovrebbe capire tutte le regole che governano il suo motore e
            quindi padroneggiare la malattia
         </div>
         <div>A. T. Still</div>
      </div>
   </div>
</div>
