      <div>Osteopatia</div>
      <div class="te">
         L’osteopatia è una terapia medica alternativa che mira a ripristinare il normale funzionamento del corpo, al fine di favorire la sua capacità di autoguarigione, andando ad agire sul sistema muscolo-scheletrico, vascolare, nervoso, immunitario e linfatico. 
         La medicina osteopatica ritiene che corpo, mente e spirito siano interconnessi e che una loro alterazione possa comportare l’esordio di dolore e altri disturbi, motivo per cui l’osteopata ha una visione olistica del paziente, ovvero totalitaria e dunque non si sofferma unicamente sulla patologia.
         Il trattamento osteopatico rappresenta un approccio manuale e manipolativo finalizzato al riequilibrio della struttura e della funzione; di fondamentale per ritrovare e mantenere la salute. 
         Una seduta è composta dalla raccolta anamnestica, da una valutazione posturale e dal trattamento specifico per ogni singolo paziente.
      </div>
      <div class="p-10"></div>
      <div class="flex flex-col flex-wrap gap-10 items-center">

         <div class="flex flex-row items-center gap-5 border-solid border-4 border-blue-300 rounded-2xl p-5 max-w-lg">
            <div class="flex flex-col items-center">
                <div class="text-xl font-medium pb-3">
                    ADULTI
                </div>
                <div class="text-justify max-w-md text-sm">
                    L'osteopatia può contribuire a migliorare il benessere generale e rappresentare un valido alleato contro una serie di disturbi, tra cui lombalgia, cervicalgia, cefalea, problemi digestivi e respiratori, e anche per il controllo della postura.
                </div>
            </div>
            <div>
                <img src="images/adulti.webp" alt="sportivo" class="w-60">
            </div>
         </div>

         <div class="flex flex-row items-center gap-5 border-solid border-4 border-blue-300 rounded-2xl p-5 max-w-lg">
            <div class="flex flex-col items-center">
                <div class="text-xl font-medium pb-3">
                    SPORTIVI
                </div>
                <div class="text-justify max-w-md text-sm">
                    Nel contesto degli sportivi professionisti, l'osteopatia ha un duplice ruolo. Da un lato, è utilizzata in modo preventivo per migliorare la mobilità e le capacità adattative, riducendo il rischio di infortuni. Dall'altro, quando si verifica un infortunio, gli osteopati possono essere fondamentali per accelerare il processo di recupero degli atleti.
                </div>
            </div>
            <div>
                <img src="images/sportivi.webp" alt="sportivo" class="w-60">
            </div>
         </div>

         <div class="flex flex-row items-center gap-5 border-solid border-4 border-blue-300 rounded-2xl p-5 max-w-lg">
            <div class="flex flex-col items-center">
                <div class="text-xl font-medium pb-3">
                    DONNE in GRAVIDANZA
                </div>
                <div class="text-justify max-w-md text-sm">
                    L'osteopatia può essere di grande aiuto nella preparazione del corpo alla gravidanza e nella gestione dei dolori più comuni derivanti dai cambiamenti fisiologici durante questo periodo.
                </div>
            </div>
            <div>
                <img src="images/gravidanza.webp" alt="sportivo" class="w-60">
            </div>
         </div>

         <div class="flex flex-row items-center gap-5 border-solid border-4 border-blue-300 rounded-2xl p-5 max-w-lg">
            <div class="flex flex-col items-center">
                <div class="text-xl font-medium pb-3">
                    NEONATI e BAMBINI
                </div>
                <div class="text-justify max-w-md text-sm">
                    L'osteopatia è un un prezioso alleato per favorire lo sviluppo neuropsicomotorio e posturale corretto dei bambini e prevenire problemi comuni come la plagiocefalia, il torcicollo miogeno, la stipsi, l'irritabilità e le coliche.
                </div>
            </div>
            <div>
                <img src="images/neonato.webp" alt="sportivo" class="w-60">
            </div>
         </div>

         <div class="flex flex-row items-center gap-5 border-solid border-4 border-blue-300 rounded-2xl p-5 max-w-lg">
            <div class="flex flex-col items-center">
                <div class="text-xl font-medium pb-3">
                    ANZIANI
                </div>
                <div class="text-justify max-w-md text-sm">
                    La terapia osteopatica può essere un valido sostegno nell'affrontare i segni dell'invecchiamento, aiutando a contrastare la rigidità e la perdita di mobilità articolare, nonché a gestire condizioni come l'artrosi, i dolori muscolari e i dolori articolari.
                </div>
            </div>
            <div>
                <img src="images/anziani.webp" alt="sportivo" class="w-60">
            </div>
         </div>
      </div>