<div class="flex flex-row">
    <div>
        <div>

            Studio medico in Via Tripoli 1/D Biella 13900
        </div>
        <ul class="list-disc">
            <li>

                Studio privato in Strada Cimitero di Vaglio N.2 Biella 13900
            </li>
            <li>
                Golf Club Il Mulino in Via Libertà 37 Cerrione 13882 (BI)

            </li>
            <li>
                Possibilità di visite a domicilio

            </li>
        </ul>
</div>
    
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d698.0415182259418!2d8.06683136966948!3d45.58720613672811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478621accca7bf39%3A0x67ffb79b3076f207!2sStr.%20Al%20Cimitero%20di%20Vaglio%2C%202%2F7%2C%2013900%20Biella%20BI!5e0!3m2!1sit!2sit!4v1694711035227!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div>
    form
</div>
</div>