<h2 class="hidden sm:block my-10 text-4xl tracking-tight font-extrabold text-center text-gray-900">Sedi</h2>
<section class="flex sm:flex-row flex-col max-w-screen-lg mx-auto sm:gap-20">
   <div>
      <h2 class="sm:hidden mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900">Sedi</h2>
      <div
         class="list-disc flex flex-col list-inside text-sm gap-2 text-center divide-y-2 divide-blue-100 max-w-sm mx-auto"
      >
         <div class="items-center font-normal text-gray-500 sm:text-xl pt-2">
            <div>Studio medico in Via Tripoli 1/D<br />Biella, 13900</div>
         </div>
         <div class="items-center font-normal text-gray-500 sm:text-xl pt-2">
            <div>Studio privato in Strada Cimitero di Vaglio N.2<br />Biella, 13900</div>
         </div>
         <div class="items-center font-normal text-gray-500 sm:text-xl pt-2">
            <div>Golf Club Il Mulino in Via Libertà 37<br />Cerrione, 13882 (BI)</div>
         </div>
         <div class="items-center font-normal text-gray-500 sm:text-xl pt-2">
            <div>Possibilità di visite a domicilio</div>
         </div>
      </div>
   </div>

   <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11168.612945418832!2d8.0678557!3d45.5874642!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa0fd72c231c73381%3A0xc2f55b0ccf99e748!2sStudio%20Osteopatico%20Marco%20Certisi!5e0!3m2!1sit!2sit!4v1694724587785!5m2!1sit!2sit"
      class="w-full h-96 py-10 sm:h-auto sm:py-0"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
   ></iframe>
</section>
