<div class="max-w-screen-lg mx-auto">
   <h2 class="sm:block my-10 text-4xl tracking-tight font-extrabold text-center text-gray-900">Visita</h2>
   <p class="font-normal text-center text-gray-500 sm:text-xl">
      Nella prima fase della visita, si dedica del tempo alla raccolta di informazioni anamnestiche fondamentali per
      comprendere la condizione del paziente e individuare eventuali controindicazioni al trattamento. Successivamente,
      il paziente viene sottoposto a test medici specifici che servono a confermare le ipotesi emerse durante
      l'anamnesi. Durante questa fase valutativa, cerchiamo di determinare se il dolore del paziente sia legato alla
      postura o ad altre eventuali condizioni, utilizzando anche la competenza palpatoria per identificare aree di
      tensione o disfunzione. Una volta completata questa fase di valutazione, si sviluppa un piano di trattamento
      mirato specificamente alle esigenze del paziente, tenendo conto di quanto emerso durante la visita. Nei successivi
      appuntamenti, monitoriamo i progressi del paziente e adattiamo i trattamenti di conseguenza. L'obiettivo
      principale è fornire un'assistenza personalizzata ed efficace per migliorare il benessere del paziente nel lungo
      termine.
   </p>
</div>
